*{
    margin: 0;
    padding: 0;
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary-btn{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
    text-align: center;
    

}
.inspiration .article .learn-more{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 16px;
    padding: 12px 20px 12px 20px;
}
.dark-color{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    text-align: center;
}
.align-left{
    align-items: flex-start;
    text-align: left;
}
.common-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.dream-confidential{
    width: 852px;
    align-items: center;
    text-align: center;
    padding-top: 24px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 200px;
    align-items: center;
    text-align: center;
}
nav h3{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    
}
 nav h4{
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: none;

 }

nav .resume-download{
    color: rgb(13, 19, 33);
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}
.bg-development .banner-design{
    justify-content: center;
    align-items: center;
    margin: 100px 44px auto;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position-y: center;
}
.bg-development .banner-design .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 652px;
}
.bg-development .banner-design img{
    padding-top: 28px;
    padding-bottom: 32px;
}
.bg-development .banner-design h1{
    color: rgb(13, 19, 33);
    width: 998px;
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.bg-development .banner-design .contuct{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    margin: 32px 44px auto;

}
.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 74px 90px auto;
    padding: 80px 97px;
}
.inspiration .main-causes{
    margin-bottom: 24px;
}
.inspiration .replay{
    opacity: 0.7;
    width: 852px;
    margin-bottom: 48px;
}
.inspiration .challange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 100px;
}
.inspiration .second-ins{
    display: flex;
    flex-direction:row-reverse;
}
.inspiration .challange .article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:left;
    align-items: flex-start;

}
.inspiration .challange .article .title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.common-box{
    width: 477px;
    gap: 16px;
    padding: 48px;
    margin: 10px auto;
    justify-content: flex-start;
    text-align: left;
}
.iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.iframe p{
    max-width: 852px !important;
    margin: 24px  auto;
    margin-bottom: 48px;
    align-items: center;
    text-align: center;

}
.iframe .iframe-container{
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    padding: 32 auto;
}
.iframe .iframe-container iframe{
    border-radius: 16px;
    width: 1075px;
    height: 550px;
    margin-bottom: 150px;
}
.present-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 74px 90px auto;
    
}
.present-activity .speace{
    max-width: 852px !important;
    margin: 24px  auto;
    margin-bottom: 48px;
    align-items: center;
    text-align: center;
}
.prog-languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 141px;
}
.present-activity .prog-languages .language{
    width: 284px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 40px;
    border-radius: 16px;
}
.present-activity .prog-languages .html{
    background: rgba(255, 76, 30, 0.05); 
}
.present-activity .prog-languages .css{
    background: rgba(0, 76, 232, 0.05);
}
.present-activity .prog-languages .js{
    background: rgba(255, 223, 0, 0.05);
}

.present-activity .prog-languages .language img{
    position: relative;
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.present-activity .prog-languages .language .mar{
    margin-top: 8px;
    margin-bottom:24px ;
}
.present-activity .prog-languages .language .learn-link{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
   
}
footer .support-box{
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    width: 1140px ;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 64px 48px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(mdahammodali793@gmail.com);
}
footer .support-me{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
footer .support-box .helpdesk{
    margin: 24px auto;
    text-align: center;
    color:rgb(255, 255, 255)
    
}
footer .support-box input[type="text"]{
    padding: 16px 48px 16px 48px;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);



}
footer .support-box input[type="submit"] {
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    
}
.input_{
    display: flex;
    flex-direction: row;
    align-items: inline;
    justify-self: center;
    gap: 16px;
}
footer .com-option{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 526px;

    margin: 24px 200px;
}
footer .com-option h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

footer .com-option ul {
    display: flex;
    list-style-type: none;
    gap: 14px;
    
}

footer .com-option ul li a img {
    width: 36px;
    height: 36px;
}
